.navbar {
    display: flex;
    background-color: rgba(27,24,53,0.66);
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vmax;
    z-index: 9998;
    padding-left: 20px;
    margin-bottom: 5vmax;
}

.navbar__links {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
    -webkit-user-select: none;
}

.navbar__links p {
    color: aqua;
}