.error {
    background-color: #1c1b22;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10vmax 5vmax;
}
.error h1 {
    color: aquamarine;
}
.error p {
    padding-top: 15px;
    color: antiquewhite;
}
.error div {
    display: flex;
    justify-content: space-between;
}

