*, *:hover, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/bodyImage.jpg");
    background-size:  100vmax auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .news__height {
        height: 30vmax;
    }
}

@media screen and (max-width:768px) {
    .news__height {
        height: 70vmax;
    }
}

.newsBox {
    overflow: auto;
    margin: 0 5vmax;
    padding: 10px;
}

.newsBox::-webkit-scrollbar {
    width: 12px;
}
.newsBox::-webkit-scrollbar-track {
    background: transparent;

}
.newsBox::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}
.newsItem {
    display: flex;
    flex-direction: column;
    background-color: #1c1b22;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 20px 20px;
    -webkit-user-select: none;
    color: aquamarine;
}

.newsItem div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newsItem p {
    margin-top: 15px;
    color: antiquewhite;
}

.newsItem h2{
    padding-top: 10px;
    font-size: 20px;
    color: antiquewhite;

}

.newsItem h3 {
    color: brown;
    font-style: italic;
    padding-left: 10px;
}

.newsIdPage {
    background-color: #1c1b22;
    border-radius: 10px;
    padding: 15px 20px;
    color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: 0 5vmax;
}


.newsIdPage div {
    display: flex;
    justify-content: space-between;
}

.newsIdPage p {
    padding-top: 10px;
    color: antiquewhite;
}
.newsIdPage h2{
    padding-top: 10px;
    font-size: 20px;
    color: antiquewhite;

}
.newsIdPage h3 {
    color: brown;
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
}

.newsIdPage p a {
    text-decoration: none;
    color: darkkhaki;
}

.comments__tag {
    color: aqua;
    margin: 30px 5vmax;
}

.comments {
    overflow: auto;
    height: 15vmax;
    margin: 0 5vmax;
}

.comments::-webkit-scrollbar {
    width: 12px;
}
.comments::-webkit-scrollbar-track {
    background: transparent;

}
.comments::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}

.comment {
    background-color: #1c1b22;
    color: antiquewhite;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 10px;
}

.comment h3 {
    color: brown;
    font-style: italic;
    padding-bottom: 10px;
}

.child {
    margin: 20px;
}

.child-hide {
    animation: showComment 0.5s;
}


@keyframes showComment {
    0% {
        opacity: 0;
        transform: translateY(-3vmax);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}